.slider-button {  
    border: none;
    display: inline-block;
    padding: 8px 8px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.411);
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%)
}
    
.slider-button:hover {
    color: #b0ffa9;
}
    
.display-left {
    left: 0%;
}
    
.display-right {
    right: 0%;
}